<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="FITKMSEntities" connectionString="metadata=res://*/Data.FITKMS.csdl|res://*/Data.FITKMS.ssdl|res://*/Data.FITKMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FITKMS; integrated security=true; persist security info=True; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages clientIDMode="Static">
    </pages>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="20"></forms>
    </authentication>
  </system.web>

</configuration>
