@model FITWiki.Models.KorisniciPretraga

@{
    if (Model != null && Model.Rezultat.Count > 0)
    {
        var grid = new WebGrid(canPage: true, rowsPerPage: Model.PageSize, canSort: false, ajaxUpdateContainerId: "grid");
        grid.Bind(Model.Rezultat, rowCount: Model.RowCount, autoSortAndPage: false);
        grid.Pager();
    @grid.GetHtml(htmlAttributes: new { id = "grid" },
            columns: grid.Columns(
                grid.Column("Prezime"),
                grid.Column("Ime"),
                grid.Column("KorisnickoIme", "Korisničko ime"),
                grid.Column("Mail"),
                grid.Column("DatumRegistracije", "Registracija"),
                grid.Column(format: @<text>
    @Html.ActionLink("Edit", "Edit", new { ID = item.KorisnikID })
    |
                @Html.ActionLink("Details", "Details", new { ID = item.KorisnikID })
    |
                @Html.ActionLink("Delete", "Delete", new { ID = item.KorisnikID })
    </text>)

            ),
            tableStyle: "table table-striped"
            );
    }
    else
    {
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Nema rezultata
    </div>
    }
    
    <script type="text/javascript">
        $(function () {
            $('th a, tfoot a').click(function () {
                $('form').attr('action', $(this).attr('href')).submit();
                return false;
            });
        });
    </script>
}
