@model FITWiki.Models.KorisniciPretraga

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<fieldset>
    <legend>Korisnici</legend>
</fieldset>

@using (Ajax.BeginForm("Index", "Korisnici", new AjaxOptions { UpdateTargetId = "data-grid", HttpMethod = "Post" }))
{
        @Html.TextBoxFor(m => m.ImePrezime, null, new { @class = "input-large" })
        @Html.TextBoxFor(m => m.Mail, null, new { @class = "input-large" })
        <button type="submit" class="btn" id="Index">Pretraga</button>
}
<br />
<div id="data-grid">
       @Html.Partial("_Search", Model)
</div>

<div class="form-horizontal">
        @Html.ActionLink("Novi korisnik", "Create", null, new { @class = "btn" })
</div>
