USE [master]
GO
/****** Object:  Database [FITKMS]    Script Date: 29.4.2013 15:39:13 ******/
CREATE DATABASE [FITKMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FITKMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL2012\MSSQL\DATA\FITKMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FITKMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL2012\MSSQL\DATA\FITKMS_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FITKMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FITKMS]
GO
/****** Object:  FullTextCatalog [clanciKatalog]    Script Date: 29.4.2013 15:39:13 ******/
CREATE FULLTEXT CATALOG [clanciKatalog]WITH ACCENT_SENSITIVITY = OFF

GO
/****** Object:  StoredProcedure [dbo].[fsp_ClanciTagovi_Insert]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_ClanciTagovi_Insert]
(
	@ClanakID INT,
	@TagID INT
)
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO ClanciTagovi (ClanakID, TagID)
	VALUES (@ClanakID, @TagID)
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Clanci_SelectById]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Clanci_SelectById]
(
	@ClanakID INT
)
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT T1.*, T2.Naziv AS Vrsta, T3.Naziv AS Tema, 
	       (SELECT AVG(CONVERT(float,Ocjena))
		    FROM ClanciOcjene
		    WHERE ClanakID = T1.ClanakID) AS ProsjecnaOcjena
	FROM Clanci AS T1 INNER JOIN VrsteClanaka AS T2
	     ON T1.ClanakID = T2.VrstaID INNER JOIN Teme AS T3
	     ON T1.TemaID = T3.TemaID
	WHERE ClanakID = @ClanakID
	
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Clanci_SelectByTag]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Clanci_SelectByTag]
(
	@TagID INT,
	@Offset INT,
	@MaxRows INT,
	@TotalRows INT = 0 OUTPUT
)
AS
	--SET FMTONLY OFF
	BEGIN
	CREATE TABLE #TempClanci
		(
			RedniBroj INT IDENTITY(0, 1),
			ClanakID INT
		)
	
	INSERT INTO #TempClanci(ClanakID)
	SELECT C.ClanakID
	FROM Clanci AS C INNER JOIN ClanciTagovi AS T
		ON C.ClanakID = T.ClanakID
	WHERE C.Status=1 AND T.TagID = @TagID
	ORDER BY DatumKreiranja DESC
			
	SELECT @TotalRows = @@ROWCOUNT

	SELECT T1.ClanakID, T1.DatumKreiranja, T1.DatumIzmjene, T1.Naslov,
		   T1.Tekst, T3.KorisnickoIme, T1.KljucneRijeci,
		   (SELECT AVG(CONVERT(float,Ocjena))
		    FROM ClanciOcjene 
		    WHERE ClanakID = T1.ClanakID) AS ProsjecnaOcjena,
			(SELECT COUNT(ClanakKomentarID)
		     FROM ClanciKomentari 
		     WHERE ClanakID = T1.ClanakID) AS BrojKomentara
	FROM Clanci AS T1 INNER JOIN #TempClanci AS T2 
		 ON T1.ClanakID = T2.ClanakID INNER JOIN Korisnici AS T3
	     ON T1.KorisnikID = T3.KorisnikID
	WHERE  RedniBroj BETWEEN @Offset AND (@Offset + @MaxRows - 1)
		
	DROP TABLE #TempClanci

END




GO
/****** Object:  StoredProcedure [dbo].[fsp_Clanci_SelectByTypeTitle]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Clanci_SelectByTypeTitle]
(
	@VrstaID INT = NULL,
	@Pretraga NVARCHAR(100) = NULL,
	@Offset INT,
	@MaxRows INT,
	@TotalRows INT = 0 OUTPUT
)
AS
	--SET FMTONLY OFF
	BEGIN
	CREATE TABLE #TempClanci
		(
			RedniBroj INT IDENTITY(0, 1),
			ClanakID INT
		)

	IF @VrstaID = 0
		BEGIN
			IF @Pretraga = ''
				BEGIN
					INSERT INTO #TempClanci(ClanakID)
					SELECT ClanakID
					FROM Clanci
					WHERE Status=1
					ORDER BY DatumKreiranja DESC
				END
			ELSE
				BEGIN
					INSERT INTO #TempClanci(ClanakID)
					SELECT ClanakID
					FROM Clanci
					WHERE Status=1 AND CONTAINS(Clanci.*, @Pretraga)
					ORDER BY DatumKreiranja DESC
				END
		END
	ELSE
		BEGIN
			IF @Pretraga = ''
				BEGIN
					INSERT INTO #TempClanci(ClanakID)
					SELECT ClanakID
					FROM Clanci
					WHERE Status=1 AND VrstaID = @VrstaID
					ORDER BY DatumKreiranja DESC
				END
			ELSE
				BEGIN
					INSERT INTO #TempClanci(ClanakID)
					SELECT ClanakID
					FROM Clanci
					WHERE Status=1 AND CONTAINS(Clanci.*, @Pretraga) AND VrstaID = @VrstaID
					ORDER BY DatumKreiranja DESC
				END
		END

		SELECT @TotalRows = @@ROWCOUNT

		SELECT T1.ClanakID, T1.DatumKreiranja, T1.DatumIzmjene, T1.Naslov,
		       T1.Tekst, T3.KorisnickoIme, T1.KljucneRijeci,
		       (SELECT AVG(CONVERT(float,Ocjena))
		        FROM ClanciOcjene 
		        WHERE ClanakID = T1.ClanakID) AS ProsjecnaOcjena,
			   (SELECT COUNT(ClanakKomentarID)
		        FROM ClanciKomentari 
		        WHERE ClanakID = T1.ClanakID) AS BrojKomentara
		FROM Clanci AS T1 INNER JOIN #TempClanci AS T2 
		     ON T1.ClanakID = T2.ClanakID INNER JOIN Korisnici AS T3
			 ON T1.KorisnikID = T3.KorisnikID
		WHERE  RedniBroj BETWEEN @Offset AND (@Offset + @MaxRows - 1)
		
		DROP TABLE #TempClanci

END




GO
/****** Object:  StoredProcedure [dbo].[fsp_Clanci_SelectByVrstaNazivKRijeci]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Clanci_SelectByVrstaNazivKRijeci]
(
	@VrstaID INT = NULL,
	@Naslov NVARCHAR(100) = NULL,
	@KRijeci NVARCHAR(150) = NULL,
	@Offset INT,
	@MaxRows INT,
	@TotalRows INT = 0 OUTPUT
)
AS
BEGIN
CREATE TABLE #TempClanci
	(
		RedniBroj INT IDENTITY(0, 1),
		ClanakID INT
	)

IF @VrstaID IS NULL
	BEGIN
		INSERT INTO #TempClanci(ClanakID)
			SELECT ClanakID
			FROM Clanci
			WHERE (@Naslov = '' OR Naslov like '%' + LOWER(@Naslov) + '%') AND
				  (@KRijeci = '' OR KljucneRijeci like '%' + LOWER(@KRijeci) + '%')
			ORDER BY Naslov ASC
	END
ELSE
	BEGIN
		INSERT INTO #TempClanci(ClanakID)
			SELECT ClanakID
			FROM Clanci
			WHERE VrstaID = @VrstaID AND
				  (@Naslov = '' OR Naslov like '%' + LOWER(@Naslov) + '%') AND
				  (@KRijeci = '' OR KljucneRijeci like '%' + LOWER(@KRijeci) + '%')
			ORDER BY Naslov ASC
	END


SELECT @TotalRows = @@ROWCOUNT

SELECT t1.*
	FROM Clanci t1, #TempClanci t2
	WHERE t1.ClanakID = t2.ClanakID
		AND RedniBroj BETWEEN @Offset AND (@Offset + @MaxRows - 1)
	
	DROP TABLE #TempClanci

END


GO
/****** Object:  StoredProcedure [dbo].[fsp_Clanci_SelectTags]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Clanci_SelectTags]
(
	@ClanakID INT
)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	SELECT T2.*
	FROM ClanciTagovi AS T1 INNER JOIN Tagovi AS T2
	     ON T1.TagID = T2.TagID
    WHERE T1.ClanakID = @ClanakID

END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Korisnici_ChangePassword]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Korisnici_ChangePassword]
(
	@KorisnikID INT,
	@LozinkaSalt NVARCHAR(50),
	@LozinkaHash NVARCHAR(50)
)
AS
BEGIN

	UPDATE Korisnici
	SET LozinkaSalt = @LozinkaSalt, LozinkaHash=@LozinkaHash
	WHERE KorisnikID = @KorisnikID

END


GO
/****** Object:  StoredProcedure [dbo].[fsp_Korisnici_Registration]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Korisnici_Registration] 
(
	@Ime NVARCHAR(50),
	@Prezime NVARCHAR(50),
	@Mail NVARCHAR(50),
	@Spol NCHAR(1),
	@DatumRodjenja DATE,
	@KorisnickoIme NVARCHAR(50),
	@LozinkaHash NVARCHAR(50),
	@LozinkaSalt NVARCHAR(50)
)
AS
BEGIN
	INSERT INTO Korisnici
	(
		Ime,
		Prezime,
		Mail,
		Spol,
		DatumRodjenja,
		DatumRegistracije,
		PosljednjaPrijava,
		KorisnickoIme,
		LozinkaHash,
		LozinkaSalt,
		Aktivan,
		DatumIzmjene
	)
	VALUES
	(
		@Ime,
		@Prezime,
		@Mail,
		@Spol,
		@DatumRodjenja,
		GETDATE(),
		GETDATE(),
		@KorisnickoIme,
		@LozinkaHash,
		@LozinkaSalt,
		1,
		GETDATE()
	)

	DECLARE @KorisnikID INT
	SET @KorisnikID = (SELECT @@IDENTITY)

	INSERT INTO KorisniciUloge (KorisnikID, UlogaID, DatumKreiranja, DatumIzmjene) VALUES (@KorisnikID, 2, GETDATE(), GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Korisnici_SelectByID]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Korisnici_SelectByID]
(
	@KorisnikID INT
)
AS
BEGIN
	SELECT * FROM Korisnici
	WHERE KorisnikID = @KorisnikID
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Korisnici_SelectByNameMail]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Korisnici_SelectByNameMail]
(
	@ImePrezime NVARCHAR(100),
	@Mail NVARCHAR(150),
	@Offset INT,
	@MaxRows INT,
	@TotalRows INT = 0 OUTPUT
)
AS
BEGIN

	CREATE TABLE #TempKorisnici
	(
		RedniBroj INT IDENTITY(0, 1),
		KorisnikID INT
	)
	
	IF @ImePrezime <>  ''
	BEGIN
		INSERT INTO #TempKorisnici(KorisnikID)
		SELECT KorisnikID
		FROM Korisnici
		WHERE ((LOWER(Ime + ' ' + Prezime) like '%' + LOWER(@ImePrezime) + '%') OR
		      ((LOWER(Prezime + ' ' + Ime) like '%' + LOWER(@ImePrezime) + '%'))) AND
			  (@Mail = '' OR LOWER(Mail) like '%' + LOWER(@Mail) + '%')
		ORDER BY Prezime ASC
	END
	ELSE
	BEGIN
		INSERT INTO #TempKorisnici(KorisnikID)
		SELECT KorisnikID
		FROM Korisnici
		WHERE @Mail = '' OR LOWER(Mail) like '%' + LOWER(@Mail) + '%'
		ORDER BY Prezime ASC
	END

	SELECT @TotalRows = @@ROWCOUNT

	SELECT t1.*
	FROM Korisnici t1, #TempKorisnici t2
	WHERE t1.KorisnikID = t2.KorisnikID
		AND RedniBroj BETWEEN @Offset AND (@Offset + @MaxRows - 1)
	
	DROP TABLE #TempKorisnici
	
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Korisnici_SelectByUsername]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Korisnici_SelectByUsername]
(
	@KorisnickoIme NVARCHAR(50)
)
AS
BEGIN
	SELECT * FROM Korisnici
	WHERE KorisnickoIme = @KorisnickoIme
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Korisnici_Update]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Korisnici_Update] 
(
	@KorisnikID INT,
	@Ime NVARCHAR(50),
	@Prezime NVARCHAR(50),
	@Mail NVARCHAR(50),
	@Spol NCHAR(1),
	@DatumRodjenja DATE,
	@Slika VARBINARY(MAX) = NULL,
	@SlikaType NVARCHAR(50) = NULL
)
AS
BEGIN
	UPDATE Korisnici
	SET
		Ime = @Ime,
		Prezime = @Prezime,
		Mail = @Mail,
		Spol = @Spol,
		DatumRodjenja = @DatumRodjenja,
		Slika = @Slika,
		SlikaType = @SlikaType
	WHERE KorisnikID = @KorisnikID
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Pitanja_SelectAll]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Pitanja_SelectAll]
(
	@Offset INT,
	@MaxRows INT,
	@TotalRows INT = 0 OUTPUT

) 
AS
	SET FMTONLY OFF
	CREATE TABLE #TempPitanja
	(
		RedniBroj INT IDENTITY(0, 1),
		PitanjeID INT
	)
	
	INSERT INTO #TempPitanja
	SELECT PitanjeID
	FROM Pitanja 
	WHERE Status = 1
	ORDER BY DatumKreiranja DESC 
	
	SELECT @TotalRows = @@ROWCOUNT
	
	SELECT P.PitanjeID, P.DatumKreiranja, P.DatumIzmjene, P.Naslov,
		   P.Tekst, P.BrojPregleda, P.Pozitivni, P.Negativni, K.KorisnickoIme,
		   (SELECT COUNT(O.PitanjeID) 
		    FROM Odgovori AS O
		    WHERE O.PitanjeID = P.PitanjeID
		   )AS BrojOdgvora
	FROM Pitanja AS P JOIN Korisnici AS K on P.KorisnikID = K.KorisnikID 
	JOIN #TempPitanja AS T ON T.PitanjeID = P.PitanjeID
	WHERE T.RedniBroj BETWEEN @Offset AND (@Offset + @MaxRows - 1) 
	ORDER BY P.DatumKreiranja DESC
	
	DROP TABLE #TempPitanja


GO
/****** Object:  StoredProcedure [dbo].[fsp_Pitanja_SelectByTag]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Pitanja_SelectByTag]
(
	@TagID INT,
	@Offset INT,
	@MaxRows INT,
	@TotalRows INT = 0 OUTPUT
)
AS
	--SET FMTONLY OFF
	BEGIN
	CREATE TABLE #TempPitanja
		(
			RedniBroj INT IDENTITY(0, 1),
			PitanjeID INT
		)
	
	INSERT INTO #TempPitanja(PitanjeID)
	SELECT P.PitanjeID
	FROM Pitanja AS P INNER JOIN PitanjaTagovi AS T
		ON P.PitanjeID = T.PitanjeID
	WHERE P.Status=1 AND T.TagID = @TagID
	ORDER BY DatumKreiranja DESC
			
	SELECT @TotalRows = @@ROWCOUNT

	SELECT T1.PitanjeID, T1.DatumKreiranja, T1.DatumIzmjene, T1.Naslov,
		   T1.Tekst, T3.KorisnickoIme, T1.Pozitivni, T1.Negativni, T1.BrojPregleda,
			(SELECT COUNT(PitanjeID)
		     FROM Odgovori
		     WHERE PitanjeID = T1.PitanjeID) AS BrojOdgovora
	FROM Pitanja AS T1 INNER JOIN #TempPitanja AS T2 
		 ON T1.PitanjeID = T2.PitanjeID INNER JOIN Korisnici AS T3
	     ON T1.KorisnikID = T3.KorisnikID
	WHERE  RedniBroj BETWEEN @Offset AND (@Offset + @MaxRows - 1)
		
	DROP TABLE #TempPitanja

END




GO
/****** Object:  StoredProcedure [dbo].[fsp_Pitanja_SelectTags]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Pitanja_SelectTags]
(
	@PitanjeID INT
)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	SELECT T2.*
	FROM PitanjaTagovi AS T1 INNER JOIN Tagovi AS T2
	     ON T1.TagID = T2.TagID
    WHERE T1.PitanjeID = @PitanjeID

END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Tagovi_SelectAll]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Tagovi_SelectAll]
AS
BEGIN
	SELECT *
	FROM Tagovi

END

GO
/****** Object:  StoredProcedure [dbo].[fsp_Tagovi_SelectPagination]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Tagovi_SelectPagination]
(
    @PageNo INT,    
    @RecordsPerPage INT,
	@TotalRows INT = 0 OUTPUT,
	@Search NVARCHAR(50) = NULL
)
AS
IF @PageNo < 1
       SET @PageNo = 1

DECLARE @Naziv NVARCHAR(50) = '%'
IF @Search IS NOT NULL
	SET @Naziv = '%' + @Search + '%'



SELECT * FROM Tagovi
WHERE LOWER(Naziv) LIKE LOWER(@Naziv)
ORDER BY Naziv
OFFSET ( @PageNo - 1 ) * @RecordsPerPage ROWS
FETCH NEXT @RecordsPerPage ROWS ONLY

SELECT @TotalRows = (SELECT COUNT(*) FROM Tagovi
WHERE LOWER(Naziv) LIKE LOWER(@Naziv))


GO
/****** Object:  StoredProcedure [dbo].[fsp_Teme_SelectByStatus]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_Teme_SelectByStatus]
(
	@Status BIT
)
AS
BEGIN
	
	SELECT *
	FROM Teme
	WHERE Status=@Status
	ORDER BY Naziv
	
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_VrsteClanaka_SelectByStatus]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_VrsteClanaka_SelectByStatus]
(
	@Status BIT
)
AS
BEGIN
	
	SELECT *
	FROM VrsteClanaka
	WHERE Status=@Status
	ORDER BY Naziv
	
END

GO
/****** Object:  StoredProcedure [dbo].[fsp_getAllOdgovoriZaPitanje]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_getAllOdgovoriZaPitanje]
	@PId int
as
	SELECT CONVERT(VARCHAR(10),O.DatumKreiranja,110) AS Datum, O.Negativni,O.OdgovorID, 
           O.Pozitivni, O.Tekst, K.Ime, K.Prezime, (SELECT COUNT(T1.PitanjeID)
										            FROM Pitanja AS T1
										            WHERE T1.KorisnikID=K.KorisnikID) AS 'UkupnoPitanja',
										           (SELECT COUNT(T1.OdgovorID)
										            FROM Odgovori AS T1
										            WHERE T1.KorisnikID=K.KorisnikID) AS 'UkupnoOdgovora'
	FROM Odgovori AS O join Korisnici AS K ON O.KorisnikID = K.KorisnikID
	WHERE O.PitanjeID = @PId AND Status = 1
GO
/****** Object:  StoredProcedure [dbo].[fsp_getAllTagoviZaPitanjeID]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fsp_getAllTagoviZaPitanjeID]
	@Pid int
AS

	SELECT * 
	FROM PitanjaTagovi
	WHERE PitanjeID = @Pid
GO
/****** Object:  Table [dbo].[Aktivnosti]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aktivnosti](
	[AktivnostID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NULL,
 CONSTRAINT [PK_Aktivnosti] PRIMARY KEY CLUSTERED 
(
	[AktivnostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clanci]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clanci](
	[ClanakID] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](100) NOT NULL,
	[Autori] [nvarchar](200) NOT NULL,
	[Tekst] [nvarchar](max) NOT NULL,
	[KljucneRijeci] [nvarchar](150) NOT NULL,
	[VrstaID] [int] NOT NULL,
	[TemaID] [int] NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[Dokument] [varbinary](max) NULL,
	[Status] [bit] NULL,
	[Izmjene] [bit] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
	[DatumIzmjene] [datetime] NOT NULL,
	[DokumentType] [nvarchar](50) NULL,
	[DokumentPath] [nvarchar](50) NULL,
 CONSTRAINT [PK_Clanci] PRIMARY KEY CLUSTERED 
(
	[ClanakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClanciKomentari]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanciKomentari](
	[ClanakKomentarID] [int] IDENTITY(1,1) NOT NULL,
	[Komentar] [nvarchar](max) NOT NULL,
	[ClanakID] [int] NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[Pozitivni] [int] NULL,
	[Negativni] [int] NULL,
	[Status] [bit] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
	[DatumIzmjene] [datetime] NOT NULL,
 CONSTRAINT [PK_ClanciKomentari] PRIMARY KEY CLUSTERED 
(
	[ClanakKomentarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClanciOcjene]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanciOcjene](
	[ClanakOcjenaID] [int] IDENTITY(1,1) NOT NULL,
	[Ocjena] [int] NOT NULL,
	[ClanakID] [int] NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[DatumKreiranja] [datetime] NOT NULL,
	[DatumIzmjene] [datetime] NOT NULL,
 CONSTRAINT [PK_ClanciOcjene] PRIMARY KEY CLUSTERED 
(
	[ClanakOcjenaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClanciTagovi]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanciTagovi](
	[ClanakID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_ClanciTagovi] PRIMARY KEY CLUSTERED 
(
	[ClanakID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Korisnici](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](150) NOT NULL,
	[Spol] [nchar](1) NOT NULL,
	[DatumRodjenja] [date] NOT NULL,
	[DatumRegistracije] [datetime] NOT NULL,
	[PosljednjaPrijava] [datetime] NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[LozinkaHash] [nvarchar](50) NOT NULL,
	[LozinkaSalt] [nvarchar](50) NOT NULL,
	[Slika] [varbinary](max) NULL,
	[SlikaType] [nvarchar](50) NULL,
	[Aktivan] [bit] NOT NULL,
	[DatumIzmjene] [datetime] NULL,
 CONSTRAINT [PK_korisnici] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KorisniciUloge]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KorisniciUloge](
	[KorisnikID] [int] NOT NULL,
	[UlogaID] [int] NOT NULL,
	[DatumKreiranja] [datetime] NULL,
	[DatumIzmjene] [datetime] NULL,
 CONSTRAINT [PK_KorisniciUloge] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC,
	[UlogaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Oblasti]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oblasti](
	[OblastID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Status] [bit] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
	[DatumIzmjene] [datetime] NOT NULL,
 CONSTRAINT [PK_Oblasti] PRIMARY KEY CLUSTERED 
(
	[OblastID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Odgovori]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odgovori](
	[OdgovorID] [int] IDENTITY(1,1) NOT NULL,
	[Tekst] [nvarchar](max) NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[PitanjeID] [int] NOT NULL,
	[Pozitivni] [int] NULL,
	[Negativni] [int] NULL,
	[Status] [bit] NULL,
	[DatumKreiranja] [datetime] NULL,
	[DatumIzmjene] [datetime] NULL,
 CONSTRAINT [PK_Odgovori] PRIMARY KEY CLUSTERED 
(
	[OdgovorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OdgovoriGlasovi]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdgovoriGlasovi](
	[GlasID] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[OdgovorID] [int] NOT NULL,
	[Pozitivni] [bit] NOT NULL,
 CONSTRAINT [PK_OdgovoriGlasovi] PRIMARY KEY CLUSTERED 
(
	[GlasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pitanja]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pitanja](
	[PitanjeID] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](250) NOT NULL,
	[Tekst] [nvarchar](max) NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[ClanakID] [int] NULL,
	[TemaID] [int] NULL,
	[Pozitivni] [int] NULL,
	[Negativni] [int] NULL,
	[BrojPregleda] [int] NULL,
	[Status] [bit] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
	[DatumIzmjene] [datetime] NOT NULL,
 CONSTRAINT [PK_Pitanja] PRIMARY KEY CLUSTERED 
(
	[PitanjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PitanjaGlasovi]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PitanjaGlasovi](
	[GlasID] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[PitanjeID] [int] NOT NULL,
	[Pozitivni] [bit] NOT NULL,
 CONSTRAINT [PK_PitanjaGlasovi] PRIMARY KEY CLUSTERED 
(
	[GlasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PitanjaTagovi]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PitanjaTagovi](
	[PitanjeID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_PitanjaTagovi] PRIMARY KEY CLUSTERED 
(
	[PitanjeID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pretrage]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pretrage](
	[PretragaID] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[AktivnostID] [int] NOT NULL,
	[TekstPretrage] [nvarchar](500) NULL,
	[ClanakID] [int] NULL,
	[KorisnikID] [int] NOT NULL,
 CONSTRAINT [PK_Pretrage] PRIMARY KEY CLUSTERED 
(
	[PretragaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tagovi]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tagovi](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tagovi] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teme]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teme](
	[TemaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Status] [bit] NULL,
	[OblastID] [int] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
	[DatumIzmjene] [datetime] NOT NULL,
 CONSTRAINT [PK_Teme] PRIMARY KEY CLUSTERED 
(
	[TemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Uloge]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uloge](
	[UlogaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[DatumKreiranja] [datetime] NULL,
	[DatumIzmjene] [datetime] NULL,
 CONSTRAINT [PK_uloge] PRIMARY KEY CLUSTERED 
(
	[UlogaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VrsteClanaka]    Script Date: 29.4.2013 15:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VrsteClanaka](
	[VrstaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Status] [bit] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
	[DatumIzmjene] [datetime] NOT NULL,
 CONSTRAINT [PK_VrsteClanaka] PRIMARY KEY CLUSTERED 
(
	[VrstaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Clanci] ON 

SET IDENTITY_INSERT [dbo].[Clanci] OFF
INSERT [dbo].[ClanciTagovi] ([ClanakID], [TagID]) VALUES (2, 2)
INSERT [dbo].[ClanciTagovi] ([ClanakID], [TagID]) VALUES (2, 8)
INSERT [dbo].[ClanciTagovi] ([ClanakID], [TagID]) VALUES (2, 10)
SET IDENTITY_INSERT [dbo].[Korisnici] ON 

INSERT [dbo].[Korisnici] ([KorisnikID], [Ime], [Prezime], [Mail], [Spol], [DatumRodjenja], [DatumRegistracije], [PosljednjaPrijava], [KorisnickoIme], [LozinkaHash], [LozinkaSalt], [Slika], [SlikaType], [Aktivan], [DatumIzmjene]) VALUES (5, N'Larisa', N'Tipura', N'larisa.tipura@edu.fit.ba', N'Ž', CAST(0xA7130B00 AS Date), CAST(0x0000A1A70120B0A7 AS DateTime), CAST(0x0000A1A70120B0A7 AS DateTime), N'larisa', N'y3AHCXn1INgdqjgE27u+odsTOvc=', N'4fizzQoECOMNubwGl4GwLw==', NULL, NULL, 1, CAST(0x0000A1A70120B0A7 AS DateTime))
INSERT [dbo].[Korisnici] ([KorisnikID], [Ime], [Prezime], [Mail], [Spol], [DatumRodjenja], [DatumRegistracije], [PosljednjaPrijava], [KorisnickoIme], [LozinkaHash], [LozinkaSalt], [Slika], [SlikaType], [Aktivan], [DatumIzmjene]) VALUES (7, N'Nedim', N'Džiho', N'nedim.dziho@edu.fit.ba', N'M', CAST(0x55140B00 AS Date), CAST(0x0000A1A800F59728 AS DateTime), CAST(0x0000A1A800F59728 AS DateTime), N'nedim', N'2HUPTRAt964oJskpX9Ey56099q8=', N'+4vnR1n03BxKZQSL9DicDw==', NULL, NULL, 1, CAST(0x0000A1A800F59728 AS DateTime))
SET IDENTITY_INSERT [dbo].[Korisnici] OFF
INSERT [dbo].[KorisniciUloge] ([KorisnikID], [UlogaID], [DatumKreiranja], [DatumIzmjene]) VALUES (4, 2, CAST(0x0000A1A700F34B83 AS DateTime), CAST(0x0000A1A700F34B83 AS DateTime))
INSERT [dbo].[KorisniciUloge] ([KorisnikID], [UlogaID], [DatumKreiranja], [DatumIzmjene]) VALUES (5, 2, CAST(0x0000A1A70120B0BA AS DateTime), CAST(0x0000A1A70120B0BA AS DateTime))
INSERT [dbo].[KorisniciUloge] ([KorisnikID], [UlogaID], [DatumKreiranja], [DatumIzmjene]) VALUES (7, 2, CAST(0x0000A1A800F59729 AS DateTime), CAST(0x0000A1A800F59729 AS DateTime))
SET IDENTITY_INSERT [dbo].[Odgovori] ON 

INSERT [dbo].[Odgovori] ([OdgovorID], [Tekst], [KorisnikID], [PitanjeID], [Pozitivni], [Negativni], [Status], [DatumKreiranja], [DatumIzmjene]) VALUES (1, N'Odgovor na pitanje Fuzzy string matching :)', 4, 7, 1, 0, 1, CAST(0x0000A1AF0100B875 AS DateTime), CAST(0x0000A1AF0100B875 AS DateTime))
SET IDENTITY_INSERT [dbo].[Odgovori] OFF
SET IDENTITY_INSERT [dbo].[OdgovoriGlasovi] ON 

INSERT [dbo].[OdgovoriGlasovi] ([GlasID], [Datum], [KorisnikID], [OdgovorID], [Pozitivni]) VALUES (1, CAST(0x0000A1AF0100D34B AS DateTime), 4, 1, 1)
SET IDENTITY_INSERT [dbo].[OdgovoriGlasovi] OFF
SET IDENTITY_INSERT [dbo].[Pitanja] ON 

INSERT [dbo].[Pitanja] ([PitanjeID], [Naslov], [Tekst], [KorisnikID], [ClanakID], [TemaID], [Pozitivni], [Negativni], [BrojPregleda], [Status], [DatumKreiranja], [DatumIzmjene]) VALUES (6, N'UPDATE query on Access Database not working C#.NET', N'I am working on a database management system. I have a simple task of updating user profile. I created an asp.net page with textboxes and a save button. After adding the text I click on the save button. The code for the button is', 4, NULL, NULL, 0, 0, 1, 1, CAST(0x0000A1AE01471E30 AS DateTime), CAST(0x0000A1AE01471E30 AS DateTime))
SET IDENTITY_INSERT [dbo].[Pitanja] OFF
SET IDENTITY_INSERT [dbo].[PitanjaGlasovi] ON 

INSERT [dbo].[PitanjaGlasovi] ([GlasID], [Datum], [KorisnikID], [PitanjeID], [Pozitivni]) VALUES (1, CAST(0x0000A1AF01009130 AS DateTime), 4, 7, 1)
SET IDENTITY_INSERT [dbo].[PitanjaGlasovi] OFF
INSERT [dbo].[PitanjaTagovi] ([PitanjeID], [TagID]) VALUES (4, 1)
INSERT [dbo].[PitanjaTagovi] ([PitanjeID], [TagID]) VALUES (6, 1)
INSERT [dbo].[PitanjaTagovi] ([PitanjeID], [TagID]) VALUES (6, 2)
SET IDENTITY_INSERT [dbo].[Tagovi] ON 

INSERT [dbo].[Tagovi] ([TagID], [Naziv], [Opis]) VALUES (1, N'ASP.NET', N'ASP.NET is a web application framework developed by Microsoft to allow programmers to build dynamic web sites and web applications.')
INSERT [dbo].[Tagovi] ([TagID], [Naziv], [Opis]) VALUES (2, N'C#', N'C# is a multi-paradigm programming language encompassing strong typing, imperative, declarative, functional, generic, object-oriented (class-based), and component-oriented programming disciplines.')
INSERT [dbo].[Tagovi] ([TagID], [Naziv], [Opis]) VALUES (3, N'Visual Basic', N'Visual Basic .NET (VB.NET) is an object-oriented computer programming language that can be viewed as an evolution of Microsoft''s Visual Basic 6 (VB6) but implemented on the Microsoft .NET Framework.')
SET IDENTITY_INSERT [dbo].[Tagovi] OFF
SET IDENTITY_INSERT [dbo].[Teme] ON 

INSERT [dbo].[Teme] ([TemaID], [Naziv], [Status], [OblastID], [DatumKreiranja], [DatumIzmjene]) VALUES (1, N'Informacijske tehnologije', 1, NULL, CAST(0x0000A1AB00000000 AS DateTime), CAST(0x0000A1AB00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Teme] OFF
SET IDENTITY_INSERT [dbo].[Uloge] ON 

INSERT [dbo].[Uloge] ([UlogaID], [Naziv], [DatumKreiranja], [DatumIzmjene]) VALUES (1, N'Administrator', CAST(0x0000A1A700CFA440 AS DateTime), CAST(0x0000A1A700CFA440 AS DateTime))
INSERT [dbo].[Uloge] ([UlogaID], [Naziv], [DatumKreiranja], [DatumIzmjene]) VALUES (2, N'Gost', CAST(0x0000A1A700CFA440 AS DateTime), CAST(0x0000A1A700CFA440 AS DateTime))
SET IDENTITY_INSERT [dbo].[Uloge] OFF
SET IDENTITY_INSERT [dbo].[VrsteClanaka] ON 

INSERT [dbo].[VrsteClanaka] ([VrstaID], [Naziv], [Status], [DatumKreiranja], [DatumIzmjene]) VALUES (1, N'Naučni radovi', 1, CAST(0x0000A1A000000000 AS DateTime), CAST(0x0000A1A000000000 AS DateTime))
INSERT [dbo].[VrsteClanaka] ([VrstaID], [Naziv], [Status], [DatumKreiranja], [DatumIzmjene]) VALUES (3, N'Diplomski radovi', 1, CAST(0x0000A1A000000000 AS DateTime), CAST(0x0000A1A000000000 AS DateTime))
INSERT [dbo].[VrsteClanaka] ([VrstaID], [Naziv], [Status], [DatumKreiranja], [DatumIzmjene]) VALUES (4, N'Stručna literatura', 1, CAST(0x0000A1A000000000 AS DateTime), CAST(0x0000A1A000000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[VrsteClanaka] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_KorisnickoIme]    Script Date: 29.4.2013 15:39:13 ******/
ALTER TABLE [dbo].[Korisnici] ADD  CONSTRAINT [UQ_KorisnickoIme] UNIQUE NONCLUSTERED 
(
	[KorisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Mail]    Script Date: 29.4.2013 15:39:13 ******/
ALTER TABLE [dbo].[Korisnici] ADD  CONSTRAINT [UQ_Mail] UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clanci] ADD  CONSTRAINT [DF_Clanci_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Clanci] ADD  CONSTRAINT [DF_Clanci_Izmjene]  DEFAULT ((1)) FOR [Izmjene]
GO
ALTER TABLE [dbo].[ClanciKomentari] ADD  CONSTRAINT [DF_ClanciKomentari_Pozitivni]  DEFAULT ((0)) FOR [Pozitivni]
GO
ALTER TABLE [dbo].[ClanciKomentari] ADD  CONSTRAINT [DF_ClanciKomentari_Negativni]  DEFAULT ((0)) FOR [Negativni]
GO
ALTER TABLE [dbo].[ClanciKomentari] ADD  CONSTRAINT [DF_ClanciKomentari_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Oblasti] ADD  CONSTRAINT [DF_Oblasti_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Odgovori] ADD  CONSTRAINT [DF_Odgovori_Pozitivni]  DEFAULT ((0)) FOR [Pozitivni]
GO
ALTER TABLE [dbo].[Odgovori] ADD  CONSTRAINT [DF_Odgovori_Negativni]  DEFAULT ((0)) FOR [Negativni]
GO
ALTER TABLE [dbo].[Odgovori] ADD  CONSTRAINT [DF_Odgovori_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Pitanja] ADD  CONSTRAINT [DF_Pitanja_Pozitivni]  DEFAULT ((0)) FOR [Pozitivni]
GO
ALTER TABLE [dbo].[Pitanja] ADD  CONSTRAINT [DF_Pitanja_Negativni]  DEFAULT ((0)) FOR [Negativni]
GO
ALTER TABLE [dbo].[Pitanja] ADD  CONSTRAINT [DF_Pitanja_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Teme] ADD  CONSTRAINT [DF_Teme_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VrsteClanaka] ADD  CONSTRAINT [DF_VrsteClanaka_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Clanci]  WITH CHECK ADD  CONSTRAINT [FK_Clanci_Korisnici] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[Clanci] CHECK CONSTRAINT [FK_Clanci_Korisnici]
GO
ALTER TABLE [dbo].[Clanci]  WITH CHECK ADD  CONSTRAINT [FK_Clanci_Teme] FOREIGN KEY([TemaID])
REFERENCES [dbo].[Teme] ([TemaID])
GO
ALTER TABLE [dbo].[Clanci] CHECK CONSTRAINT [FK_Clanci_Teme]
GO
ALTER TABLE [dbo].[Clanci]  WITH CHECK ADD  CONSTRAINT [FK_Clanci_VrsteClanaka] FOREIGN KEY([VrstaID])
REFERENCES [dbo].[VrsteClanaka] ([VrstaID])
GO
ALTER TABLE [dbo].[Clanci] CHECK CONSTRAINT [FK_Clanci_VrsteClanaka]
GO
ALTER TABLE [dbo].[ClanciKomentari]  WITH CHECK ADD  CONSTRAINT [FK_ClanciKomentari_Clanci] FOREIGN KEY([ClanakID])
REFERENCES [dbo].[Clanci] ([ClanakID])
GO
ALTER TABLE [dbo].[ClanciKomentari] CHECK CONSTRAINT [FK_ClanciKomentari_Clanci]
GO
ALTER TABLE [dbo].[ClanciKomentari]  WITH CHECK ADD  CONSTRAINT [FK_ClanciKomentari_Korisnici] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[ClanciKomentari] CHECK CONSTRAINT [FK_ClanciKomentari_Korisnici]
GO
ALTER TABLE [dbo].[ClanciOcjene]  WITH CHECK ADD  CONSTRAINT [FK_ClanciOcjene_Clanci] FOREIGN KEY([ClanakID])
REFERENCES [dbo].[Clanci] ([ClanakID])
GO
ALTER TABLE [dbo].[ClanciOcjene] CHECK CONSTRAINT [FK_ClanciOcjene_Clanci]
GO
ALTER TABLE [dbo].[ClanciOcjene]  WITH CHECK ADD  CONSTRAINT [FK_ClanciOcjene_Korisnici] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[ClanciOcjene] CHECK CONSTRAINT [FK_ClanciOcjene_Korisnici]
GO
ALTER TABLE [dbo].[ClanciTagovi]  WITH CHECK ADD  CONSTRAINT [FK_ClanciTagovi_Clanci] FOREIGN KEY([ClanakID])
REFERENCES [dbo].[Clanci] ([ClanakID])
GO
ALTER TABLE [dbo].[ClanciTagovi] CHECK CONSTRAINT [FK_ClanciTagovi_Clanci]
GO
ALTER TABLE [dbo].[ClanciTagovi]  WITH CHECK ADD  CONSTRAINT [FK_ClanciTagovi_Tagovi] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tagovi] ([TagID])
GO
ALTER TABLE [dbo].[ClanciTagovi] CHECK CONSTRAINT [FK_ClanciTagovi_Tagovi]
GO
ALTER TABLE [dbo].[KorisniciUloge]  WITH CHECK ADD  CONSTRAINT [FK_KorisniciUloge_Korisnici] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[KorisniciUloge] CHECK CONSTRAINT [FK_KorisniciUloge_Korisnici]
GO
ALTER TABLE [dbo].[KorisniciUloge]  WITH CHECK ADD  CONSTRAINT [FK_KorisniciUloge_Uloge] FOREIGN KEY([UlogaID])
REFERENCES [dbo].[Uloge] ([UlogaID])
GO
ALTER TABLE [dbo].[KorisniciUloge] CHECK CONSTRAINT [FK_KorisniciUloge_Uloge]
GO
ALTER TABLE [dbo].[Odgovori]  WITH CHECK ADD  CONSTRAINT [FK_Odgovori_Korisnici] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[Odgovori] CHECK CONSTRAINT [FK_Odgovori_Korisnici]
GO
ALTER TABLE [dbo].[Odgovori]  WITH CHECK ADD  CONSTRAINT [FK_Odgovori_Pitanja] FOREIGN KEY([PitanjeID])
REFERENCES [dbo].[Pitanja] ([PitanjeID])
GO
ALTER TABLE [dbo].[Odgovori] CHECK CONSTRAINT [FK_Odgovori_Pitanja]
GO
ALTER TABLE [dbo].[OdgovoriGlasovi]  WITH CHECK ADD  CONSTRAINT [FK_OdgovoriGlasovi_Korisnici] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[OdgovoriGlasovi] CHECK CONSTRAINT [FK_OdgovoriGlasovi_Korisnici]
GO
ALTER TABLE [dbo].[OdgovoriGlasovi]  WITH CHECK ADD  CONSTRAINT [FK_OdgovoriGlasovi_Odgovori] FOREIGN KEY([OdgovorID])
REFERENCES [dbo].[Odgovori] ([OdgovorID])
GO
ALTER TABLE [dbo].[OdgovoriGlasovi] CHECK CONSTRAINT [FK_OdgovoriGlasovi_Odgovori]
GO
ALTER TABLE [dbo].[Pitanja]  WITH CHECK ADD  CONSTRAINT [FK_Pitanja_Clanci] FOREIGN KEY([ClanakID])
REFERENCES [dbo].[Clanci] ([ClanakID])
GO
ALTER TABLE [dbo].[Pitanja] CHECK CONSTRAINT [FK_Pitanja_Clanci]
GO
ALTER TABLE [dbo].[Pitanja]  WITH CHECK ADD  CONSTRAINT [FK_Pitanja_Korisnici] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[Pitanja] CHECK CONSTRAINT [FK_Pitanja_Korisnici]
GO
ALTER TABLE [dbo].[Pitanja]  WITH CHECK ADD  CONSTRAINT [FK_Pitanja_Teme] FOREIGN KEY([TemaID])
REFERENCES [dbo].[Teme] ([TemaID])
GO
ALTER TABLE [dbo].[Pitanja] CHECK CONSTRAINT [FK_Pitanja_Teme]
GO
ALTER TABLE [dbo].[PitanjaGlasovi]  WITH CHECK ADD  CONSTRAINT [FK_PitanjaGlasovi_Korisnici] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[PitanjaGlasovi] CHECK CONSTRAINT [FK_PitanjaGlasovi_Korisnici]
GO
ALTER TABLE [dbo].[PitanjaGlasovi]  WITH CHECK ADD  CONSTRAINT [FK_PitanjaGlasovi_Pitanja] FOREIGN KEY([PitanjeID])
REFERENCES [dbo].[Pitanja] ([PitanjeID])
GO
ALTER TABLE [dbo].[PitanjaGlasovi] CHECK CONSTRAINT [FK_PitanjaGlasovi_Pitanja]
GO
ALTER TABLE [dbo].[PitanjaTagovi]  WITH CHECK ADD  CONSTRAINT [FK_PitanjaTagovi_Pitanja] FOREIGN KEY([PitanjeID])
REFERENCES [dbo].[Pitanja] ([PitanjeID])
GO
ALTER TABLE [dbo].[PitanjaTagovi] CHECK CONSTRAINT [FK_PitanjaTagovi_Pitanja]
GO
ALTER TABLE [dbo].[PitanjaTagovi]  WITH CHECK ADD  CONSTRAINT [FK_PitanjaTagovi_Tagovi] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tagovi] ([TagID])
GO
ALTER TABLE [dbo].[PitanjaTagovi] CHECK CONSTRAINT [FK_PitanjaTagovi_Tagovi]
GO
ALTER TABLE [dbo].[Pretrage]  WITH CHECK ADD  CONSTRAINT [FK_Pretrage_Aktivnosti] FOREIGN KEY([AktivnostID])
REFERENCES [dbo].[Aktivnosti] ([AktivnostID])
GO
ALTER TABLE [dbo].[Pretrage] CHECK CONSTRAINT [FK_Pretrage_Aktivnosti]
GO
ALTER TABLE [dbo].[Teme]  WITH CHECK ADD  CONSTRAINT [FK_Teme_Oblasti] FOREIGN KEY([OblastID])
REFERENCES [dbo].[Oblasti] ([OblastID])
GO
ALTER TABLE [dbo].[Teme] CHECK CONSTRAINT [FK_Teme_Oblasti]
GO
USE [master]
GO
